<section>
    <div>
        <button class="btn btn-primary" [routerLink]="['/new']">Crear Post</button>
    </div>
    <div>
        <h2>Dreams from R'lyeh</h2>
        <h4>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn</h4>
        <h4>En su casa en R'lyeh, el muerto Cthulhu espera soñando</h4>
    </div>
    <article *ngFor="let post of posts">
        <h3>{{post.titulo}}</h3>
        <p>{{post.texto}}</p>
        <p>Autor: {{post.autor}}</p>
        <p><img [src]="post.imagen"></p>
        <p>Fecha: {{post.fecha | date: 'dd/MM/yyyy'}}</p>
        <p>Categoría: {{post.categoria}}</p>

    </article>
</section>